<!DOCTYPE html>
<html onkeypress="check_keyboard(event)">


<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- font-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- swiper -->
    <link rel="stylesheet" href="swiper-bundle.min.css">
    <script src="swiper-bundle.min.js"></script>

</head>

<body>

    <div id="app">
        <!-- form -->
        <!-- <div v-if="status_popup" class="popup" onkeypress="check_keyboard(event)"></div> -->
        <div class="overlay">
            <div class="login">
                <div class="login__inner">
                    <div class="login__header">
                        <div class="login__title">
                            <h1 class="login__heading" data-text="What weight are you on planet ?">What weight are you on planet ?</h1>
                        </div>
                    </div>
                    <div class="login__content">
                        <div class="login__form">
                            <form action="javascript:;" class="form">
                                <div class="form__group">

                                    <input class="form__input" type="text" name="weight" required v-model="weight">
                                    <div class="form__input-after"></div>
                                    <label class="form__label" for="weight">Weight</label>
                                </div>

                                <div class="form__group">
                                    <a href="#section2">
                                        <div class="scroll-down-arrow"></div>
                                    </a>
                                    <!--<button class="form__btn" type="submit">
                                        <span class="form__btn-text">Submit</span>

                                    </button>!-->
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- form -->






        <div id="section2">
            <div class="swiper-container">
                <h1 class="header">Your Weight On Planet !</h1>
                <div class="swiper-wrapper">
                    <!-- Mercury -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[0].name}}</p> -->
                            <img :src="planet[0].img" alt="โหลดอยู่ใจเย็น">

                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div v-for="i in fix1" class="noSlides">
                                <img :src="planet[0].img" alt="โหลดอยู่ใจเย็น">
                                <img src="/image/Artboard 322.png" class="human jump0">
                                <div class="showtext">
                                    <p>Name : {{planet[0].name}}</p>
                                    <p>Gravity : {{planet[0].gravity}} m.s <sup>-2</sup> </p>
                                    <p>Weight : {{ twopointfloat((weight*planet[0].gravity)/9.8) }} kg</p>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!-- Venus -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[1].name}}</p> -->
                            <img :src="planet[1].img" alt="โหลดอยู่ใจเย็น">
                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div v-for="i in fix1" class="noSlides">
                                <img :src="planet[1].img" alt="โหลดอยู่ใจเย็น">
                                <img src="/image/Artboard 322.png" class="human jump1">
                                <div class="showtext">
                                    <p>Name : {{planet[1].name}}</p>
                                    <p>Gravity : {{planet[1].gravity}} m.s <sup>-2</sup></p>
                                    <p>Weight : {{ twopointfloat((weight*planet[1].gravity)/9.8) }} kg</p>
                                </div>
                            </div>
                        </div>





                    </div>
                    <!-- Earth -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[2].name}}</p> -->
                            <img :src="planet[2].img" alt="โหลดอยู่ใจเย็น">
                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div class="mySlides fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[2].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump2">
                                    <div class="showtext">
                                        <p>Name : {{planet[2].name}}</p>
                                        <p>Gravity : {{planet[2].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[2].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[2].moons[0].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump20">
                                    <div class="showtext">
                                        <p>Name : {{planet[2].moons[0].name}}</p>
                                        <p>Gravity : {{planet[2].moons[0].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[2].moons[0].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center; margin-bottom: 6%;">
                            <span class="dot" onclick="currentSlide(1)"></span>
                        </div>

                    </div>




                    <!-- Mars -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[3].name}}</p> -->
                            <img :src="planet[3].img" alt="โหลดอยู่ใจเย็น">
                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div class="mySlides2 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[3].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump3">
                                    <div class="showtext">
                                        <p>Name : {{planet[3].name}}</p>
                                        <p>Gravity : {{planet[3].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[3].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides2 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[3].moons[0].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump30">
                                    <div class="showtext">
                                        <p> Name : {{planet[3].moons[0].name}}</p>
                                        <p>Gravity : {{planet[3].moons[0].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[3].moons[0].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides2 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[3].moons[1].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump31">
                                    <div class="showtext">
                                        <p>Name : {{planet[3].moons[1].name}}</p>
                                        <p>Gravity : {{planet[3].moons[1].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[3].moons[1].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <a class="prev" onclick="plusSlide2(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlide2(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center; margin-bottom: 6%;">
                            <span class="dot" onclick="currentSlide2(1)"></span>
                        </div>




                    </div>
                    <!-- Jupiter -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[4].name}}</p> -->
                            <img :src="planet[4].img" alt="โหลดอยู่ใจเย็น">
                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump4">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].name}}</p>
                                        <p>Gravity : {{planet[4].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[0].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump40">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[0].name}}</p>
                                        <p>Gravity : {{planet[4].moons[0].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[0].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[1].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump41">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[1].name}}</p>
                                        <p>Gravity : {{planet[4].moons[1].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[1].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[2].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump42">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[2].name}}</p>
                                        <p>Gravity : {{planet[4].moons[2].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[2].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[3].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump43">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[3].name}}</p>
                                        <p>Gravity : {{planet[4].moons[3].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[3].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[4].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump44">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[4].name}}</p>
                                        <p>Gravity : {{planet[4].moons[4].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[4].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[5].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump45">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[5].name}}</p>
                                        <p>Gravity : {{planet[4].moons[5].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[5].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[6].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump46">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[6].name}}</p>
                                        <p>Gravity : {{planet[4].moons[6].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[6].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[7].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump47">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[7].name}}</p>
                                        <p>Gravity : {{planet[4].moons[7].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[7].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[8].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump48">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[8].name}}</p>
                                        <p>Gravity : {{planet[4].moons[8].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[8].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[9].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump49">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[9].name}}</p>
                                        <p>Gravity : {{planet[4].moons[9].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[9].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[10].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump410">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[10].name}}</p>
                                        <p>Gravity : {{planet[4].moons[10].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[10].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[11].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump411">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[11].name}}</p>
                                        <p>Gravity : {{planet[4].moons[11].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[11].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[12].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump412">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[12].name}}</p>
                                        <p>Gravity : {{planet[4].moons[12].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[12].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides4 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[4].moons[13].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump413">
                                    <div class="showtext">
                                        <p>Name : {{planet[4].moons[13].name}}</p>
                                        <p>Gravity : {{planet[4].moons[13].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[4].moons[13].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <a class="prev" onclick="plusSlide4(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlide4(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center; margin-bottom: 6%;">
                            <span class="dot" onclick="currentSlide4(1)"></span>
                        </div>




                    </div>
                    <!-- Saturn -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[5].name}}</p> -->
                            <img :src="planet[5].img" alt="โหลดอยู่ใจเย็น">
                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div v-for="i in fix1" class="noSlides">
                                <img :src="planet[5].img" alt="โหลดอยู่ใจเย็น">
                                <img src="/image/Artboard 322.png" class="human jump5">
                                <div class="showtext">
                                    <p>Name : {{planet[5].name}}</p>
                                    <p>Gravity : {{planet[5].gravity}} m.s <sup>-2</sup></p>
                                    <p>Weight : {{ twopointfloat((weight*planet[5].gravity)/9.8) }} kg</p>
                                </div>
                            </div>
                        </div>





                    </div>
                    <!-- Uranus -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[6].name}}</p> -->
                            <img :src="planet[6].img" alt="โหลดอยู่ใจเย็น">
                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div v-for="i in fix1" class="noSlides">
                                <img :src="planet[6].img" alt="โหลดอยู่ใจเย็น">
                                <img src="/image/Artboard 322.png" class="human jump6">
                                <div class="showtext">
                                    <p>Name : {{planet[6].name}}</p>
                                    <p>Gravity : {{planet[6].gravity}} m.s <sup>-2</sup></p>
                                    <p>Weight : {{ twopointfloat((weight*planet[6].gravity)/9.8) }} kg</p>
                                </div>
                            </div>
                        </div>




                    </div>
                    <!-- Neptune -->
                    <div class="swiper-slide">
                        <div v-for="i in fix1" class="main">
                            <!-- <p>{{planet[7].name}}</p> -->
                            <img :src="planet[7].img" alt="โหลดอยู่ใจเย็น">
                        </div>

                        <!-- ลูก -->
                        <div class="slideshow-container">
                            <div class="mySlides7 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[7].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump7">
                                    <div class="showtext">
                                        <p>Name : {{planet[7].name}}</p>
                                        <p>Gravity : {{planet[7].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[7].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides7 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[7].moons[0].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump70">
                                    <div class="showtext">
                                        <p>Name : {{planet[7].moons[0].name}}</p>
                                        <p>Gravity : {{planet[7].moons[0].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[7].moons[0].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides7 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[7].moons[1].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump71">
                                    <div class="showtext">
                                        <p>Name : {{planet[7].moons[1].name}}</p>
                                        <p>Gravity : {{planet[7].moons[1].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[7].moons[1].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mySlides7 fade">
                                <div v-for="i in fix1">
                                    <img :src="planet[7].moons[2].img" alt="โหลดอยู่ใจเย็น">
                                    <img src="/image/Artboard 322.png" class="human jump72">
                                    <div class="showtext">
                                        <p>Name : {{planet[7].moons[2].name}}</p>
                                        <p>Gravity : {{planet[7].moons[2].gravity}} m.s <sup>-2</sup></p>
                                        <p>Weight : {{ twopointfloat((weight*planet[7].moons[2].gravity)/9.8) }} kg</p>
                                    </div>
                                </div>
                            </div>
                            <a class="prev" onclick="plusSlide7(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlide7(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center; margin-bottom: 6%;">
                            <span class="dot" onclick="currentSlide7(1)"></span>
                        </div>

                    </div>

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- <div class="swiper-pagination"></div> -->
            <br>
            <br>
            <br>
        </div>
    </div>
    <div style="margin-left: 5.5%">
        <div class="view view-ninth">
            <img src="image/Pearth.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Earth</h2>
                <p>The planet that we have lived</p>

            </div>
        </div>
        <div class="view view-ninth">
            <img src="image/Pvenus.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Venus</h2>
                <p>Venus has 90 times the atmospheric pressure of Earth</p>

            </div>
        </div>
        <div class="view view-ninth">
            <img src="image/Pjupitor.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Jupitor</h2>
                <p>The Fastest Spinning Planet In The Solar System!!!</p>

            </div>
        </div>
        <div class="view view-ninth">
            <img src="image/Psaturn.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Saturn</h2>
                <p>Saturn is the flattest planet.</p>

            </div>
        </div>
        <div class="view view-ninth">
            <img src="image/Pmercury.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Mercury</h2>
                <p>A day on the surface of Mercury lasts 176 Earth days.</p>

            </div>
        </div>
        <div class="view view-ninth">
            <img src="image/Pmars.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Mars</h2>
                <p>Its signature color come from Iron oxide. </p>

            </div>
        </div>
        <div class="view view-ninth">
            <img src="image/Puranus.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Uranus</h2>
                <p>Uranus was discovered in 1781 by William Herschel.</p>

            </div>
        </div>
        <div class="view view-ninth">
            <img src="image/Pneptune.jpg" style="width:300px;height:200px;" />
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2>Neptune</h2>
                <p>Neptune has the Strongest Winds in the Solar System</p>

            </div>
        </div>
    </div>
</body>


<!-- MAIN -->
<script>
    fetch('Rocket_Api.json')
        .then(response => response.json())
        .then(json => {
            console.log(json.bodies)
            app.fix1 = json.fix1
            app.planet = json.bodies
        })

    let app = new Vue({
        el: '#app',
        data: {
            fix1: {},
            planet: {},
            weight: 0, //test

        },

        methods: {
            twopointfloat: function(num) {
                return num.toFixed(2)
            }
        }

    })

    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            renderBullet: function(index, className) {
                return '<span class="' + className + '">' + '<img class="imgicon" src="image/' + index + '.png"></img>' + '</span>';
                // return '<span class="' + className + '">' + index + '</span>';
            },
        },
    });
</script>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        // dots[slideIndex - 1].className += " active";
    }
</script>

<script>
    var slideIndex2 = 1;
    showSlides2(slideIndex2);

    // Next/previous controls
    function plusSlide2(n) {
        showSlides2(slideIndex2 += n);
    }

    // Thumbnail image controls
    function currentSlide2(n) {
        showSlides2(slideIndex2 = n);
    }

    function showSlides2(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides2");
        var dots = document.getElementsByClassName("dot2");
        if (n > slides.length) {
            slideIndex2 = 1
        }
        if (n < 1) {
            slideIndex2 = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex2 - 1].style.display = "block";
        // dots[slideIndex2 - 1].className += " active";
    }
</script>
<script>
    var slideIndex4 = 1;
    showSlides4(slideIndex4);

    // Next/previous controls
    function plusSlide4(n) {
        showSlides4(slideIndex4 += n);
    }

    // Thumbnail image controls
    function currentSlide4(n) {
        showSlides4(slideIndex4 = n);
    }

    function showSlides4(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides4");
        var dots = document.getElementsByClassName("dot4");
        if (n > slides.length) {
            slideIndex4 = 1
        }
        if (n < 1) {
            slideIndex4 = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex4 - 1].style.display = "block";
        // dots[slideIndex4 - 1].className += " active";
    }
</script>


<script>
    var slideIndex7 = 1;
    showSlides7(slideIndex7);

    // Next/previous controls
    function plusSlide7(n) {
        showSlides7(slideIndex7 += n);
    }

    // Thumbnail image controls
    function currentSlide7(n) {
        showSlides7(slideIndex7 = n);
    }

    function showSlides7(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides7");
        var dots = document.getElementsByClassName("dot7");
        if (n > slides.length) {
            slideIndex7 = 1
        }
        if (n < 1) {
            slideIndex7 = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex7 - 1].style.display = "block";
        // dots[slideIndex7 - 1].className += " active";
    }
</script>


</html>